::selection {
	background-color: #dddddd;
	color: #000000;
}

html {
	font-size: 1.1em;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

body {
	width: 40%;
	margin: 3rem auto;
	background: #000000;
	color: #dddddd;
	font-family: sans-serif;
}

h1 {
	margin: 1rem 0;
	font-weight: normal;
	font-family: monospace;
	font-size: 2.5rem;
}

p {
	margin: 1rem 0;
	text-align: justify;
}

a {
	color: #dddddd;
	text-decoration: underline, wavy, currentColor;
	font-family: monospace;
}

/* flavor */

code {
	white-space: pre-wrap;
}
	color: #aaaaaa;

pre {
	padding: 0.3rem 0.5rem;
	margin: 1rem 0;
	white-space: pre-wrap;
}

pre .c { color: #aaaaaa; font-style: italic; }

blockquote {
	margin: 1rem 0;
	padding: 0.4rem 1rem;
	border-left: 3px solid #1c1c1c;
}

/* lists */

ul {
	margin: 1rem 0;
	padding-left: 4ch;
	list-style: none;
	font-size: 1.2em;
}

li {
	position: relative;
}

li::before {
	content: "- ";
	position: absolute;
	left: -2ch;
}

/* responsive */

@media (orientation: portrait) {
	body {
		width: unset;
		margin: 3rem;
	}
}

@media (pointer: none), (pointer: coarse) {
	html {
		font-size: 1rem;
	}
	
	body {
		margin: 1rem;
	}
}
